/* REGOLE GENERALI */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    /*debug*/
    /*background-color: orange;*/
}

ul, li {
    list-style-type: none;
}

h3 {
    font-size: 12px;
}

/* HEADER */

header .container-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #1b1b1b;
    padding: 10px 50px;
    width: 100%;
    z-index: 1;
}

header .container-menu .menu-left {
    display: flex;
    align-items: center;
}

header .container-menu .menu-left .box-menu {
    margin-left: 20px;
}

header .container-menu .menu-left .box-menu ul {
    display: flex;
    margin: 0 auto;
}

header .container-menu .menu-left .box-menu ul li {
    margin-right: 15px;
    font-size: 14px;
    font-weight: 300;
    color: #999999;
    cursor: pointer;
}

header .container-menu .menu-left .box-menu ul li:first-child {
    color: white;
    font-weight: bold;
}

header .container-menu .menu-left .box-logo img {
    width: 100px;
}

header .container-menu .menu-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container-menu .menu-right .box-search .right-input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

header .container-menu .menu-right .box-search i {
    cursor: pointer;
    color: white;
}

header .container-menu .menu-right .box-profile i {
    cursor: pointer;
    color: white;
    font-size: 25px;
    margin-right: 10px;
}

header .container-menu .menu-right .box-profile {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container-menu .menu-right .box-img-profile {
    margin-left: 10px;
}

header .container-menu .menu-right .box-img-profile img {
    width: 40px;
    cursor: pointer;
}


/* MAIN */

.lang {
    width: 30px;
}

main #card {
    position: relative;
    background-color: #1b1b1b;
    min-height: 1200px;
}

main #card .box-card {
    margin-top: 30px;
    cursor: pointer;
}

main #card .box-card .box-img img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/* CARD FILM/SERIE TV */

main #card .card {
    border: none;
    background-color: black;
}

main #card .card p {
    font-size: 12px;
}

main #card .front-card {
    position: relative;
    transition: transform .5s ease;
    backface-visibility: hidden;
}

main #card .back-card {
    position: absolute;
    transition: transform .5s ease;
    backface-visibility: hidden;
    color: white;
    background-color: black;
    border: 1px solid white;
    transform: rotateY(180deg);
}

main #card .box-card .box-information {
    width: 100%;
    height: 100%;
    padding: 5px;
    position: absolute;
}

main #card .box-card .box-language img {
    width: 20px;
}

main #card .box-card .box-vote i {
    color: darkgoldenrod;
}


/* HOVER */

main #card .card:hover .front-card {
    transform: rotateY(-180deg);
}

main #card .card:hover .back-card {
    transform: rotateY(0deg);
}




