* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    /*debug*/
    /*background-color: darkorange;*/
}

ul, li {
    list-style-type: none;
}

/* HEADER */


.box-logo img {
    width: 50px;
}

.nav-bar {
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
}

.left-menu ul {
    display: flex;
}

.left-menu ul li {
    padding: 0 10px;
}


/* MAIN */

.lang {
    width: 30px;
}

.film-card {
    max-width: 150px;
    max-height: 200px;
    font-size: 12px;
    /*debug*/
    background-color: orange;
    border: 1px solid black;
}

.box-film{
    display: flex;
    flex-wrap: wrap;
}


